body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
}

.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  background-color: #653096;
  color: #ffffff;
}

.main-content {

}

.emoji-bar {
  padding: 20px 0px 10px 0px;
}

.emoji {
  font-size: 2em;
}

.dynamic-content {

}

.dog-image {
  
}
